ImageContentPolicy Schema does not allow many valid hostnames for mirrors or sources

My reading of the regex below is that all hostname components must start with an alpha.  It seems like this was designed to prevent IP addresses.  It seems that there are valid use cases to use IP addresses but the rfc1123 also allows for hostname components to start with a number.

https://github.com/openshift/api/blob/143629bf6d5fe114a1c1672cdfd07a34168a8d45/config/v1/0000_10_config-operator_01_imagecontentpolicy.crd.yaml#L56

RFC1123 Section 2.1 Hostnames and Numbers specifically calls out:
```
The syntax of a legal Internet host name was specified in [RFC-952](https://datatracker.ietf.org/doc/html/rfc952)
      [DNS:4].  One aspect of host name syntax is hereby changed: the
      restriction on the first character is relaxed to allow either a
      letter or a digit.  Host software MUST support this more liberal
      syntax.
```
and later in the same section:
```
Whenever a user inputs the identity of an Internet host, it SHOULD
      be possible to enter either (1) a host domain name or (2) an IP
      address in dotted-decimal ("#.#.#.#") form.
```


Issues go stale after 90d of inactivity.

Mark the issue as fresh by commenting `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.
Exclude this issue from closing by commenting `/lifecycle frozen`.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

Stale issues rot after 30d of inactivity.

Mark the issue as fresh by commenting `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.
Exclude this issue from closing by commenting `/lifecycle frozen`.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten
/remove-lifecycle stale

Rotten issues close after 30d of inactivity.

Reopen the issue by commenting `/reopen`.
Mark the issue as fresh by commenting `/remove-lifecycle rotten`.
Exclude this issue from closing again by commenting `/lifecycle frozen`.

/close